<link rel="stylesheet" href="/css/__header.css">

<div class="header-container">
    <div>This is Header</div>
    <div class="header-container__info-container">
        <div>
            <a href="/user/login">Login</a>
        </div>
        <div>
            <a href="#"> Sign-Up</a>
        </div>
    </div>
</div>