<link rel="stylesheet" href="/css/login.css">
<div class="login-container">

    <img src="https://img.icons8.com/dusk/64/000000/login-rounded-right.png" class="avatar" alt="img" />
    <h1>Login Here</h1>
    <form action="POST" class="login-container__form">
        <p>Username</p>
        <input type="email" name="email" placeholder="Enter email address">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Login" />
        <a href="#">Lost your password</a><br>
        <a href="#">Dont have an account</a>
    </form>
</div>