.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

.header-container__info-container{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}